a:hover {
    color:blue;
}

@font-face {
    font-family: 'arcadeclassicregular';
    src: url('/arcadeText/arcadeclassic-webfont.woff2') format('woff2'),
         url('/arcadeText/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'arcadeclassicregular';
    word-spacing: 10px;
    background-image: linear-gradient(white, white, black);
}

a:hover {
    color: dodgerblue;
    font-style: italic;
}

.link {
    color: black;
}
