@font-face {
    font-family: 'arcadeclassicregular';
    src: url('arcadeText/arcadeclassic-webfont.woff2') format('woff2'),
         url('arcadeText/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

canvas {
    position: absolute;
}

body {
    font-family: 'arcadeclassicregular';
    word-spacing: 10px;
    padding: 0px;
    margin: 0px;
}
